<div class="sidebar">
    <button class="crear-grupo" (click)="crearGrupo()">CREAR GRUPO + </button>

    <!--
    *ngFor, repite un elemento para cada elemento de la lista, let of notas, le dice a *ngFor como iterar,
        Por cada array de grupos, se crea un bloque de HTML que llama al elemento grupo del array de grupos, dentro de ese bloque
    -->
    <div *ngFor="let grupo of grupos" class="grupo-row">
        <button class="grupo-boton" (click)="seleccionarGrupo(grupo)">{{ grupo.name }}</button>
        <button class="eliminar-boton" (click)="eliminarGrupo(grupo.id)">x</button>
    </div>
</div>
