<main class="vista-principal">
 
    <ng-container *ngIf="grupoSeleccionadoId === null">

        <div class="sidebar-container">
        <!-- (grupoSeleccionado), escucha el evento grupoSeleccionado de GruposComponent -->
            <app-grupos (grupoSeleccionado)="GrupoSeleccionado($event)"></app-grupos>
        </div>

        <div class="editor-container">
            <app-notas></app-notas>
        </div>


    </ng-container>

    <ng-container *ngIf="grupoSeleccionadoId !== null">
        <!-- Envia el toma los valores de [grupodId] y el [grupoNombre] y los envia a ViscaGrupoComponent con @Input -->
        <app-vista-grupo [grupoId]="grupoSeleccionadoId" [grupoNombre]="grupoSeleccionadoNombre" (volver)="volverAVistaPrincipal()"></app-vista-grupo>
    </ng-container>
    
</main>
