<div class="editor-notas">

<!--* ng significa Angular, (AngularModelo, AngularValor, etc) -->

<!--* ( ) : enlace de evento-->
<!-- Se usa para escuchar eventos del DOM(como los clicks), y ejecuta metodos del componente -->

<!--* [ ] : enlace de propiedad-->
<!-- Se usa para enlazar el valor de una propiedad de un componente a un atributo de un elemento HTML -->

<!--* [()] : enlace bidireccional -->
<!-- Permite que el valor de un input, y la variable del componente, siempre esten sincronizados -->

    <!-- Si la nota es seleccionada, se mostrara su contenido (Se ejecuta el bloque), que es este bloque, sino, se oculta (el bloque) -->
    <div *ngIf="notaSeleccionada; else editorForm">
        <!-- Añade las notas, el [(ngModel)], lo que hace mantener el input y el componente en sincronia, cuando se agrega el contenido de la nota -->
        <!-- [value], lo que hace es mostrar en el input, el valor que es notaSeleccionada.title, readonly significa que no se puede editar -->
        <input type="text" [value]="notaSeleccionada.title" readonly/>
        <textarea [value]="notaSeleccionada.content" readonly></textarea>
        <button (click)="cerrarNotaSeleccionada()">Back</button>
    </div>

    <ng-template #editorForm>
        <input type="text" placeholder="TITULO" [(ngModel)]="TituloNota"/>
        <textarea placeholder="CONTENIDO" [(ngModel)]="ContenidoNota"></textarea>

        <!-- ngIf muestra o oculta elementos, el boton solo se muestra, si editar notas id no es null -->
        <!-- Cuando se hace click al boton + de la nota, se llama a la funcion addNota del componente NotasComponent -->
        <button *ngIf="editarNotaId === null"  (click)="addNota()">+</button>
        <button *ngIf="editarNotaId !== null" (click)="guardarNota(editarNotaId)">save</button>
        <button *ngIf="editarNotaId !== null" (click)="cancelarEdicion()">cancelar</button>
    </ng-template>

</div>

<!-- De la lista de notas, se pasa al editor -->

<!-- ngFor se usa para desplegar listas repitiendo elementos, en este caso en el array de notas-->
<div class="notas-lista">

    <!-- let nota of notas, significa que por cada nota en el array notas Filtradas, se crea un nuevo div y con una nueva nota-->
    <div *ngFor="let nota of notasFiltradas" class="nota"> <!-- notasFiltradas, devuelve las notas que no tienen grupo -->
            <h3 (click)="seleccionarNota(nota)" style="cursor:pointer;">{{ nota.title }}</h3>
            <button (click)="abrirSelectorGrupo(nota)">save</button><!-- boton guardar -->
            <button (click)="editarNota(nota)">edit</button><!-- boton editar -->
            <button (click)="eliminarNota(nota.id)">x</button><!-- boton eliminar nota -->
    </div>

    <button class="limpiar-boton" (click)="limpiarNotas()">LIMPIAR</button>

</div>

<!-- Apartado de seleccion de grupo al hacer click en (save) en una nota -->
<div *ngIf="mostrarSelectorGrupo" class="modal-Selector-grupo">
    <div class="modal-content">

        <h3>Elije un grupo</h3>

        <button *ngFor="let grupo of grupos" (click)="asignarNotaAGrupo(grupo.id)">{{ grupo.name }}</button>
        <button (click)="cancelarSelectorGrupo()">Cancelar</button>

    </div>
</div>